{
  "name": "NyanQL MCP",
  "profile": "ChatGPT Developer mode向けNyanQL MCP Server",
  "version": "{{ nyanql_version }}",
  "Port": {{ nyanql_https_port }},
  "BasicAuth": {
    "Username": {{ nyanql_basic_username | to_json }},
    "Password": {{ nyanql_basic_password | to_json }}
  },
  "certPath": "{{ nyanql_tls_dir }}/fullchain.pem",
  "keyPath": "{{ nyanql_tls_dir }}/privkey.pem",
  "DBType": "sqlite",
  "DBUser": "",
  "DBPassword": "",
  "DBName": "{{ nyanql_database_path }}?_foreign_keys=on&_busy_timeout=5000&_journal_mode=WAL",
  "DBHost": "",
  "DBPort": "",
  "MaxOpenConnections": 5,
  "MaxIdleConnections": 5,
  "ConnMaxLifetimeSeconds": 3600,
  "log": {
    "Filename": "{{ nyanql_log_dir }}/nyanql.log",
    "MaxSize": 5,
    "MaxBackups": 3,
    "MaxAge": 7,
    "Compress": true,
    "EnableLogging": true
  },
  "javascript_include": [
    "{{ nyanql_source_dir }}/javascript/lib/nyanRequestCheck.js",
    "{{ nyanql_source_dir }}/javascript/base.js"
  ],
  "APIHotReload": {
    "Enabled": true,
    "Interval": "1s"
  }
}
