[defaults]
inventory = inventory.ini
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = default

[ssh_connection]
pipelining = True
timeout = 30
retries = 3
